<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396363952404-7cu74thsq18ku5r4nspn0152i4p9pa66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396363952404-7cu74thsq18ku5r4nspn0152i4p9pa66</string>
	<key>API_KEY</key>
	<string>AIzaSyDwsQzOH4xikwbdbdM-FIEjk-njRYZqJpo</string>
	<key>GCM_SENDER_ID</key>
	<string>396363952404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stackathon.gifFlow</string>
	<key>PROJECT_ID</key>
	<string>gifflow-6c7f2</string>
	<key>STORAGE_BUCKET</key>
	<string>gifflow-6c7f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396363952404:ios:d0495508b3d1c4d6abd201</string>
	<key>DATABASE_URL</key>
	<string>https://gifflow-6c7f2.firebaseio.com</string>
</dict>
</plist>